/* #Region Base Style */
body {
  color: #111;
  background-color: #fff;
  font-family: "Roboto", "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
  font-family: inherit;
}
address {
  font-style: normal;
}
/* #endregion */

.header {
}
.logo {
  font-family: "Raleway", sans-serif;
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.nav {
  font-family: "Roboto", sans-serif;
}
.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list-link {
  color: #2e2f42;
}
.list-link:hover {
  color: #404bbf;
}
.address {
}
.address-list {
}
.mail-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail-link:hover {
  color: #404bbf;
}
.num-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.num-link:hover {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}
