/* #Region Base Style */
body {
  color: #111;
  background-color: #fff;
  font-family: "Roboto", "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
  font-family: inherit;
}
address {
  font-style: normal;
}
/* #endregion */

.header {
}
.logo {
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.nav {
  font-family: "Roboto", sans-serif;
}
.nav-list {
}
.list-link {
  color: #2e2f42;
}
.address {
}
.address-list {
}
.mail-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.num-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.hero {
}
.hero-title {
}
.hero-btn {
}
